q1

In [1]:
print("Hello World!")

Hello World!

q2

In [3]:
a=2
b=3.3
print(f"Data type of a: {type(a)}")
print(f"Data type of b: {type(b)}")

Data type of a: <class 'int'>
Data type of b: <class 'float'>

q3

In [4]:
name = input("enter your name: ")
print(name)

Abdullah Sonija

q4

In [6]:
t = "Hello World!"
print(t[2:5])
print(t*2)

llo
Hello World!Hello World!

q5

In [9]:
list1 = ["physics","chemistry",1997,2000]
list1[2]=2001
print(list1)
del(list1[2])
print(list1)

['physics', 'chemistry', 2001, 2000]
['physics', 'chemistry', 2000]

q6

In [10]:
tuple = ("abcd",768,2.23)
list = ["abcd",768,2.23]

In [21]:
list[0]=1000

In [18]:
tuple[0]=1000
# Tuples are immutable so that they can not be reassigned (TypeError)

TypeError: 'tuple' object does not support item assignment

q7

In [24]:
tinydict = {"name":"Abdullah","code":556,"dept":"Ai"}
print(tinydict.keys())

dict_keys(['name', 'code', 'dept'])

q8

In [25]:
amount = 6000

if amount < 1000:
    discount = amount * 0.05
elif amount < 5000:
    discount = amount * 0.10
else:
    discount = amount * 0.15

net_payable = amount - discount
print("Net payable:", net_payable)

Net payable: 5100.0

q9

In [26]:
count = 0
while count < 9:
    print(count)
    count+=1
print("Good Bye")

0
1
2
3
4
5
6
7
8
Good Bye

q10

In [27]:
def details(*numbers):
    for num in numbers:
        print(num)

details(1,2,3)

1
2
3